# iOS / Apple
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Sublime editor
# ==============
.sublime-project
*.sublime-project
*.sublime-workspace

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
logs/
build/

# Temp files
# =======
temp/
